
.yemenimage {
    top: 0;
    left: 90%;
    max-width: 50%;
    position: absolute;
    width: 120px

 }

 .plimage {
    top: 0;
    left: 2%;
    max-width: 50%;
    position: absolute;
    width: 40px
}


 .logoimage {
    top: 0;
    left: 47.5%;
    max-width: 50%;
    position: absolute;
    width: 90px
}

.footer  {
    display: none;
}



p {

    top: 20.5%;
    left: 32%;
    max-width: 50%;
    position: absolute;
    font-size: 23px;
    font-weight: 560;


   }