
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

.yemenimage {
    top: 0;
    left: 90%;
    max-width: 50%;
    position: absolute;
    width: 10%;

 }

 .plimage {
    top: 0;
    left: 2%;
    max-width: 50%;
    position: absolute;
    width: 4%
}


 .logoimage {
    top: 0;
    left: 43%;
    max-width: 50%;
    position: absolute;
    width: 100px
}

.footer  {
    display: none;
}



p {

    top: 20.5%;
    left: 26%;
    max-width: 50%;
    position: absolute;
    font-size: 28px;
    font-family: 'Rakkas', serif;
    text-align: center;
    display: flex;
    justify-content: center;




   }
